$blue: #007aff;
$orange: #fb8c00;
$green: #00bfa5;
$red: #ee4957;
$black: #343a40;
$violet: #7a00ff;
$pink: #ff007a;
$white : #ffffff;
$grey: #6c757d;

$color-orange-light: #fb8c00;
$color-orange: #ed7043;
$color-red: #db5358;
$color-green: #00bfa5;
$color-yellow: #fbe20e;
$color-blue: #007aff;
$color-purple: #7a00ff;
$color-pink: #ff007a;
$color-white : #ffffff;
$color-gray-light: #c4c4c4;
$color-gray: #757a94;
$color-navy: #3a4166;
$color-black: #343a40;