.container {
    h1 {
        font-size: 2rem;
        font-weight: 700;
    }
    
    h2 {
        font-size: 1.125rem;
        font-weight: 700;
    }

    h3 {
        font-size: 1rem;
        font-weight: 700;
    }
}

.all-section {
    margin: 1.875rem;
    position: relative;
    
    .btn {
        margin: .313rem;
    }
}

.color-section {
    height: 200px;
}