$blue: #007aff;
$purple: #7a00ff;
$yellow: #fbe20e;
$orange: #fb8c00;
$red: #db5358;
$white : #f6fbff;
$green: #00bfa5;
$gray: #757a94;
$navy: #3a4166;
$black: #343a40;

@mixin color-swatch($color){
    background: $color;
    &:hover {
        background: darken($color, 10%);
    }
}

.color-palette {
    .palette {
        width: 100px;
        height: 100px;
        box-shadow: $btn-shadow;
        display: inline-block;
        border-radius: 4px;
        position: relative;
        
        &.blue {
            @include color-swatch($blue);
        }

        &.purple {
            @include color-swatch($purple);
        }

        &.yellow {
            @include color-swatch($yellow);
        }

        &.orange {
            @include color-swatch($orange);
        }

        &.red {
            @include color-swatch($red);
        }

        &.white {
            @include color-swatch($white);
        }
        
        &.green {
            @include color-swatch($green);
        }
        
        &.gray {
            @include color-swatch($gray);
        }
        
        &.navy {
            @include color-swatch($navy);
        }
        
        &.black {
            @include color-swatch($black);
        }
    }
}

.copied {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    position: absolute;
    background: #fff;
    border-radius: 100px;
    padding: 10px;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -40px;
    margin-top: -20px;
    color: #333;
    width: 80px;
    transform: scale(0);
    opacity: 1;
}
.copiedEffect {
    animation: rippleDrop .5s linear;
}

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    transform: scale(.8);
    position: absolute;
    opacity: 0;
}
.rippleEffect {
    animation: rippleDrop .5s linear;
}
.copiedEffect {
    animation: copiedDrop 1s ease;
}

@keyframes rippleDrop {
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes copiedDrop {
    50% {
        transform: scale(.8);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}