.metode-accordian {
    box-shadow: 0 0 1px rgba(0,0,0,0.1);

    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: .875rem;
        line-height: 28px;
        color: rgba(58, 65, 102, 0.7);
        margin: 5px 0 30px 15px;
        
        a {
            margin: 5px 0 30px 0;
            color: #007AFF;
        }
    }
}

.card {
    border: none;
    border-radius: 1rem !important;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
    cursor: pointer;
    font-size: .875rem;

    &:not(last-child) {
        margin-bottom: 20px !important;
    }

    &__box {
        height: 70px;
        border-bottom-color: #FFFFFF;

        &:last-child {
        border-radius: 8px;
        }
    }

    ul {
        li {
            color: rgba(58, 65, 102, 0.7);
            list-style-type: none;
            line-height: 1.563rem;
            
            b {
                font-family: NunitoSansBold,sans-serif;
                font-weight: 700!important;
            }
            + {
                li {
                padding: 10px 0;
                }
            }
        }
    }

    ol {
        li {
            color: rgba(58, 65, 102, 0.7);
            list-style-type: decimal;
            line-height: 1.563rem;
            
            b {
                font-family: NunitoSansBold,sans-serif;
                font-weight: 700!important;
            }
            + {
                li {
                padding: 10px 0;
                }
            }
        }
    }
}